body {
  background-color: var(--body-bgcolor);
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  margin: 4px;
  color: var(--task-title-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Lobster", serif; */
  font-size: 24px;
  font-weight: 400;
  margin: 0px;
}

td {
  padding: 2px 6px;
}

.container {
  min-width: 300px;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  background-color: var(--container-bgcolor);
  border-radius: 12px 12px 12px 12px;
  /* padding: 0px 0px 12px 0px; */
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

header,
footer {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  color: var(--header-color);
  padding: 16px;
  border-radius: 12px 12px 0 0;
  background: var(--header-gradient);
  border-bottom: 1px solid var(--task-border-top-color);
}

footer {
  border-radius: 12px;
  border-bottom: none;
  text-decoration: none;
}

header a,
footer a {
  color: var(--header-color);
  text-decoration: none;
}

.task-wrapper {
  display: grid;
  column-gap: 8px;
  grid-template-areas: "completion deadline title description deletion";
  grid-template-columns: auto 10ch 2fr 3fr auto;
  padding: 20px 34px;
  background-color: var(--container-bgcolor);
  border-top: 1px solid var(--task-border-top-color);
  border-radius: 0px 0px 12px 12px;
}

.task-title {
  display: block;
  grid-area: title;
  font-size: 1rem;
}

.task-description {
  grid-area: description;
}

.text {
  text-decoration: none;
  color: var(--task-title-color);
}

.task-complete-icon {
  height: 20px;
  width: 20px;
  background-color: var(--task-circle-complete-color) !important;
  border-radius: 50%;
  display: block;
}

.task-incomplete-icon {
  height: 20px;
  width: 20px;
  background-color: var(--task-circle-incomplete-color) !important;
  border-radius: 50%;
  display: block;
}

.delete-link {
  text-decoration: none;
  font-weight: 900;
  color: var(--task-delete-cross-color);
  font-size: 26px;
  line-height: 0;
}

#search-add-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 34px 20px;
}

#add-link-parent {
  margin-top: 10px;
}

#add-link {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  font-size: 24px;
}

#add-link-plus {
  text-shadow: var(--task-add-plus-shadow);
}

input[type="text"],
input[type="password"],
textarea {
  border: 1px solid var(--input-theme-color);
  border-radius: 5px;
  padding: 10px;
  width: 90%;
}

label {
  padding-top: 10px !important;
  display: block;
}

.button {
  border: 1px solid var(--input-theme-color);
  /* background-color: var(--button-bgcolor); */
  /* color: var(--input-theme-color); */

  background-color: var(--input-bgcolor);
  color: var(--input-color);
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.settings {
  color: var(--setting-title-color);
}

.settings > a,
.settings > div {
  color: var(--setting-title-color);
  text-decoration: none;
  display: block;
  border-top: 1px solid var(--task-border-top-color);
  display: flex;
  padding: 20px 34px;
}

.settings > a:first-child,
.settings > div:first-child {
  border-top: 0px;
}

.complete {
  text-decoration: line-through;
}

.card-body {
  padding: 20px 20px 20px 20px;
}

.card-body-as-p {
  padding: 0px 0px 20px 34px;
}

.screenshot {
  max-width: calc(100% - 20px);
  margin: 10px;
}

#readme {
  padding: 20px;
}

#readme h1 {
  font-size: 2.2rem;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  margin-top: 3rem;
  font-weight: bold;
}

#readme .hljs-meta {
  color: green;
}

#readme ul {
  margin-top: 0px;
}

#readme h3 {
  font-size: 1.6rem;
  margin-bottom: 4px;
  margin-top: 1.4rem;
  /* font-weight: bold; */
}

#readme h1:first-child {
  margin-top: 0px;
}

#readme code {
  background-color: var(--body-bgcolor);
  /* padding: 12px; */
}

#readme pre {
  background-color: var(--body-bgcolor);
  padding: 12px;
}

@media (max-width: 600px) {
  .task-wrapper {
    grid-template-columns: auto 10ch 1fr auto;
    grid-template-areas:
      "completion deadline title deletion"
      "description description description description";
  }
  .task-description {
    padding-top: 6px;
    font-size: 0.9rem;
  }
}

input,
textarea,
button {
  background-color: var(--input-bgcolor);
  color: var(--input-color);
}

@media (max-width: 500px) {
  #search-add-wrapper {
    flex-direction: column-reverse;
    padding: 0px 0px 20px 0px;
  }
  #add-link-parent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px dotted var(--task-border-top-color);
    padding-bottom: 12px;
  }
}
