{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Nunito&display=swap" rel="stylesheet" />
    {% if users_settings.darkmode or not users_settings %}
    <link rel="stylesheet" href="{% static 'base/darkmode_vars.css' %}" />
    {% else %}
    <link rel="stylesheet" href="{% static 'base/lightmode_vars.css' %}" />
    {% endif %}
    <link rel="stylesheet" href="{% static 'base/styles.css' %}" />
  </head>
  <body>
    <div class="container">{% block content %} {% endblock content %}</div>
    {% if display_settings %}
    <div class="container">
      <header>
        <h2 style="font-size: 24px">Settings</h2>
      </header>
      <div class="card-body settings">
        <a href="{% url 'theme' %}">
          <div class="task-title">
            {% if users_settings.darkmode %}
            <div class="task-complete-icon"></div>
            {% else %}
            <div class="task-incomplete-icon"></div>
            {% endif %}
            <div style="padding-left: 8px">dark mode</div>
          </div></a
        >
      </div>
    </div>
    {% endif %}
  </body>
</html>
