{% extends 'base/main.html' %}
<!-- displaying the view as content of base/main.html -->
{% block content %}
<!-- content -->

<header>
  <h1>Register</h1>
</header>

{{form.errors}}

<div class="card-body-as-p">
  <form method="POST">
    {% csrf_token %}
    <p>
      <label style="margin-top: 10px">{{form.username.label}}:</label>
      {% comment %} {{form.username}} {% endcomment %}
      <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username" />
    </p>
    <p>
      <label>{{form.password1.label}}:</label>
      {% comment %} {{form.password1}} {% endcomment %}
      <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" />
    </p>
    <p>
      <label>{{form.password2.label}}:</label>
      {% comment %} {{form.password2}} {% endcomment %}
      <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" />
    </p>
    <input style="margin-top: 12px" class="button" type="submit" value="Register" />
  </form>
  <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>

{% endblock content %}
