{% extends 'base/main.html' %}
<!-- displaying the view as content of base/main.html -->
{% block content %}
<!-- content -->

<header>
  <div>
    <h1>Hello, {{request.user}}!</h1>
    <div style="margin-top: 8px">
      {% if search_input == '' %}
      <th colspan="3">Tasks - {{count}}/{{totalcount}} to go!</th>
      {% else %}
      <th colspan="3">Tasks filtered by "{{search_input}}" - {{count}}/{{totalcount}} to go!</th>
      {% endif %}
    </div>
  </div>
  {% if request.user.is_authenticated %}
  <a href="{% url 'logout' %}">Log out</a>
  {% else %}
  <a href="{% url 'login' %}">Log in</a>
  {% endif %}
</header>

<div id="search-add-wrapper">
  <form method="GET" style="margin-top: 20px; display: flex">
    <input type="text" name="search-area" value="{{search_input}}" />
    <input style="margin-left: 4px" class="button" type="submit" value="Search" />
  </form>
  <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
</div>

<div class="task-items-wrapper">
  {% for task in tasks %} {% if task.complete and not users_settings.hide_completed %}
  <div class="task-wrapper">
    <div class="task-title">
      <div class="task-complete-icon"></div>
      <i
        ><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i
      >
    </div>
    <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
  </div>
  {% elif not task.complete %}
  <div class="task-wrapper">
    <div class="task-title">
      <div class="task-incomplete-icon"></div>
      <a href="{% url 'task-update' task.id %}">{{task}}</a>
    </div>
    <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
  </div>
  {% endif %} {% empty %}
  <h3>No tasks for now!</h3>
  {% endfor %}
</div>

{% endblock content %}
