{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Log out</a>
{% else %}
<a href="{% url 'login' %}">Log in</a>
{% endif %}

<hr />

<h1>My TODO List</h1>

<table>
  <tr>
    <th>Tasks</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{task.title}}</td>
    <td><a href="{% url 'task' task.id %}">view</a></td>
    <td><a href="{% url 'task-update' task.id %}">edit</a></td>
    <td><a href="{% url 'task-delete' task.id %}">delete</a></td>
  </tr>
  {% empty %}
  <tr>
    <td>no tasks for now!</td>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'task-create' %}">Add new task</a>
