{% extends 'base/main.html' %}
<!-- displaying the view as content of base/main.html -->
{% block content %}
<!-- content -->

<!-- <header>
  <a href="{% url 'tasks' %}">&#8592; back</a>
</header> -->

<header>
  <div>
    <h1>Add new task</h1>
  </div>
  <a href="{% url 'tasks' %}">&#8592; back</a>
</header>

<div class="card-body">
  <form method="POST" action="">
    {% csrf_token %}
    <!-- ^ against c-s req forgery-->
    {{form.as_p}}
    <input class="button" type="submit" value="Submit" />
    <a class="button" href="{% url 'tasks' %}">Cancel</a>
  </form>
</div>

{% endblock content %}
