{% extends 'base/main.html' %}
<!-- displaying the view as content of base/main.html -->
{% block content %}
<!-- content -->

<!-- <header>
  <a href="{% url 'tasks' %}">&#8592; back</a>
</header> -->

<header>
  <div>
    <h1>Modify setting</h1>
  </div>
  <a href="{% url 'tasks' %}">&#8592; back</a>
</header>

<div class="card-body-as-p text">
  <form method="POST" action="">
    {% csrf_token %}
    <!-- ^ against c-s req forgery-->
    {% comment %}
    <div class="text">{{form.as_p}}</div>
    {% endcomment %}
    <p>
      <label style="margin-top: 10px">
        {% comment %} {{form.users_display_after_date.label}} {% endcomment %} Hide tasks with deadline before :</label
      >
      {% comment %} {{form.users_display_after_date}} {% endcomment %}
      <input type="date" name="users_display_after_date" value="{{userssettings.users_display_after_date}}" id="id_users_display_after_date" />
    </p>
    <input class="button" type="submit" value="Submit" />
    <a class="button" href="{% url 'tasks' %}">Cancel</a>
  </form>
</div>

{% endblock content %}
